.modal-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    position: relative;
    color: #fff;
    background: #222;
    padding: 3rem 1rem;
    border-radius: 20px;
    text-align: center;

    .close-modal {
      color: #fff;
      position: absolute;
      right: 10px;
      top: 1rem;
      font-size: 1.2rem;
      text-decoration: none;
      font-weight: bold;
    }

    h1 {
      margin-bottom: 2rem;
    }

    button {
      width: 100%;
      margin-top: 1rem;
    }
  }
}
